@model NegociosElectronicosII.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RegistroLayout.cshtml";
}

<style>
    .field-validation-error {
        color: white !important;
    }

    .btn {
        width: 150px;
        height: 40px;
        position: center;
    }
</style>

<div class="card">
    <div class="card-header">
        <h3>@Recursos.InicioSesion</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="username">

            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="contrasena">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="username">

            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="contrasena">
            </div>
            <div class="row align-items-center remember">
                <input type="checkbox">@Recursos.RecordarPass
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar sesion" class="btn float-right login_btn">
            </div>

            
        }
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center links">
            @Recursos.NoCuenta<a href="#">@Recursos.Registrate</a>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#">@Recursos.ForgotPassword</a>

        </div>
    </div>
</div>
<script type="text/javascript">
    @if(!String.IsNullOrEmpty(ViewBag.Message))
    {
        @:alert('@ViewBag.Message');
    }
</script>