
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" id="GananciasMensuales">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" id="GananciasAnuales">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" id="VehiculosVendidos">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" id="ArticulosVendidos">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div>

</div>
<br />
<div class="row">

    <div class="col-md-6" id="UsuariosFiltrosPrincipal">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div><!-- col // -->

    <div class="col-md-6" id="UsuariosConMasVentasDiv">
        <img src="@Url.Content("~/Imagenes/Cargador/loader4.gif")" />
    </div><!-- col // -->

   
</div> <!-- row.// -->
<br />
<div class="row">
    <div class="col-md-7">

        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Aqui va el titulo</h4>
            </header>
            <article class="card-body">
                <canvas id="speedChart"></canvas>
            </article> <!-- card-body end .// -->
            <div class="border-top card-body text-center">
                
            </div>
        </div> <!-- card.// -->

    </div>
    <div class="col-md-5">

        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Aqui va el titulo</h4>
            </header>
            <article class="card-body">
                <canvas id="oilChart"></canvas>
            </article> <!-- card-body end .// -->
            <div class="border-top card-body text-center">

            </div>
        </div> <!-- card.// -->

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                Otro grafico
            </div>
            <div class="card-body">
                <label>A</label>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <label>A</label>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <label>A</label>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <label>A</label>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <label>A</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <label>A</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
            </div>
            @*<div class="card-footer">
                This is footer
            </div>*@
        </div>

        <br />

        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        Primary
                        <div class="text-white-50 small">#4e73df</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Success
                        <div class="text-white-50 small">#1cc88a</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-info text-white shadow">
                    <div class="card-body">
                        Info
                        <div class="text-white-50 small">#36b9cc</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                        Warning
                        <div class="text-white-50 small">#f6c23e</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        Danger
                        <div class="text-white-50 small">#e74a3b</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                        Secondary
                        <div class="text-white-50 small">#858796</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="card">
            <img class="card-img-top" src="images/posts/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>  <!-- card.// -->

        <br />

        <div class="card">
            <article class="card-group-item">
                <header class="card-header"><h6 class="title">Similar category </h6></header>
                <div class="filter-content">
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item">Cras justo odio <span class="float-right badge badge-secondary round">142</span> </a>
                        <a href="#" class="list-group-item">Dapibus ac facilisis  <span class="float-right badge badge-secondary round">3</span>  </a>
                        <a href="#" class="list-group-item">Morbi leo risus <span class="float-right badge badge-secondary round">32</span>  </a>
                        <a href="#" class="list-group-item">Another item <span class="float-right badge badge-secondary round">12</span>  </a>
                    </div>  <!-- list-group .// -->
                </div>
            </article> <!-- card-group-item.// -->
            <article class="card-group-item">
                <header class="card-header"><h6 class="title">Color check</h6></header>
                <div class="filter-content">
                    <div class="card-body">
                        <label class="btn btn-danger">
                            <input class="" type="checkbox" name="myradio" value="">
                            <span class="form-check-label">Red</span>
                        </label>
                        <label class="btn btn-success">
                            <input class="" type="checkbox" name="myradio" value="">
                            <span class="form-check-label">Green</span>
                        </label>
                        <label class="btn btn-primary">
                            <input class="" type="checkbox" name="myradio" value="">
                            <span class="form-check-label">Blue</span>
                        </label>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
        </div> <!-- card.// -->


    </div>
</div>
<br /><br />
<div class="row">
    <h3>Titulo</h3>
    <div class="col-md-12">
        <div class="card">
            <article class="itemlist">
                <div class="row row-sm">
                    <aside class="col-sm-3">
                        <div class="img-wrap"><img src="images/items/1.jpg" class="img-md"></div>
                    </aside> <!-- col.// -->
                    <div class="col-sm-6">
                        <div class="text-wrap">
                            <h4 class="title"> Ut wisi enim ad minim veniam  </h4>
                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
                            <p class="rating-wrap my-0 text-muted">
                                <span class="label-rating">132 reviews</span>
                                <span class="label-rating">154 orders </span>
                            </p> <!-- rating-wrap.// -->
                        </div> <!-- text-wrap.// -->
                    </div> <!-- col.// -->
                    <aside class="col-sm-3">
                        <div class="border-left pl-3">
                            <div class="price-wrap">
                                <span class="h3 price"> $56 </span><del class="price-old"> $98</del>
                            </div> <!-- info-price-detail // -->
                            <p class="text-success">Free shipping</p>
                            <p>
                                <a href="#" class="btn btn-warning"> Buy now </a>
                                <a href="#" class="btn btn-light"> Details  </a>
                            </p>
                        </div> <!-- action-wrap.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </article> <!-- itemlist.// -->

            <article class="itemlist">
                <div class="row row-sm">
                    <aside class="col-sm-3">
                        <div class="img-wrap"><img src="images/items/2.jpg" class="img-md"></div>
                    </aside> <!-- col.// -->
                    <div class="col-sm-6">
                        <div class="text-wrap">
                            <h4 class="title"> Here goes heading of product  </h4>
                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
                            <p class="rating-wrap my-0 text-muted">
                                <span class="label-rating">132 reviews</span>
                                <span class="label-rating">154 orders </span>
                            </p> <!-- rating-wrap.// -->
                        </div> <!-- text-wrap.// -->
                    </div> <!-- col.// -->
                    <aside class="col-sm-3">
                        <div class="border-left pl-3">
                            <div class="price-wrap">
                                <span class="h3 price"> $56 </span> <del class="price-old"> $98</del>
                            </div> <!-- info-price-detail // -->
                            <p class="text-success">Free shipping</p>
                            <p>
                                <a href="#" class="btn btn-warning"> Buy now </a>
                                <a href="#" class="btn btn-light"> Details  </a>
                            </p>
                        </div> <!-- action-wrap.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </article> <!-- itemlist.// -->
        </div> <!-- card.// -->

    </div>
</div>




<script type="text/javascript">

    $(document).ready(function () {
        $('#GananciasMensuales').load('@Url.Action("GananciaMensualParcial", "Estadistica")');
        $('#GananciasAnuales').load('@Url.Action("GananciaAnualParcial", "Estadistica")');
        $('#VehiculosVendidos').load('@Url.Action("VehiculosVendidosPartial", "Estadistica")');
        $('#ArticulosVendidos').load('@Url.Action("ArticulosVendidosPartial", "Estadistica")');
        $('#UsuariosFiltrosPrincipal').load('@Url.Action("FiltrosUsuariosParcial", "Estadistica")');
        $('#UsuariosConMasVentasDiv').load('@Url.Action("UsuariosConMasVentas", "Estadistica")');
        
    });

    var speedCanvas = document.getElementById("speedChart");

    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var speedData = {
        labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
        datasets: [{
            label: "Car Speed (mph)",
            data: [0, 59, 75, 20, 20, 55, 40],
            lineTension: 0,
            fill: false,
            borderColor: 'orange',
            backgroundColor: 'transparent',
            borderDash: [5, 5],
            pointBorderColor: 'orange',
            pointBackgroundColor: 'rgba(255,150,0,0.5)',
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
        }]
    };

    var chartOptions = {
        legend: {
            display: true,
            position: 'top',
            labels: {
                boxWidth: 80,
                fontColor: 'black'
            }
        }
    };

    var lineChart = new Chart(speedCanvas, {
        type: 'line',
        data: speedData,
        options: chartOptions
    });




    ///

    var oilCanvas = document.getElementById("oilChart");

    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var oilData = {
        labels: [
            "Saudi Arabia",
            "Russia",
            "Iraq",
            "United Arab Emirates",
            "Canada"
        ],
        datasets: [
            {
                data: [133.3, 86.2, 52.2, 51.2, 50.2],
                backgroundColor: [
                    "#FF6384",
                    "#63FF84",
                    "#84FF63",
                    "#8463FF",
                    "#6384FF"
                ]
            }]
    };

    var pieChart = new Chart(oilCanvas, {
        type: 'pie',
        data: oilData
    });

</script>