@model IEnumerable<NegociosElectronicosII.Models.NE_ProductoImagen>

@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6">
        <figure class="card card-product">
            <div class="img-wrap">
                <img src="@Url.Content("~/Imagenes/Productos/" + item.Nombre + item.Extension)">
            </div>
            <figcaption class="info-wrap">
                <a href="#" class="title">@item.NE_Producto.Nombre (@item.NE_Producto.Descripcion)</a>
                <div class="price-wrap">
                    @if (item.NE_Producto.MarcarComoOferta)
                    {
                        <span class="price-new">@String.Format("{0:C2}", item.NE_Producto.PrecioOFerta)</span>
                        <del class="price-old">@String.Format("{0:C2}", item.NE_Producto.PrecioVenta)</del>
                    }
                    else
                    {
                        <span class="price-new">@String.Format("{0:C2}", item.NE_Producto.PrecioVenta)</span>
                    }
                </div> <!-- price-wrap.// -->
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col // -->
}
