
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y-sm">
    <div class="container" id="ejemplo">
    Cargando...
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION ITEMS ========================= -->
<section class="section-request bg padding-y-sm">
    <div class="container" id="_GridVehiculo">
        Cargando...
    </div>
</section>
<!-- ========================= SECTION ITEMS .END// ========================= -->



<!-- ========================= SECTION ITEMS ========================= -->
<section class="section-request bg padding-y-sm">
    <div class="container" id="_GridProducto">
        Cargando...
    </div>
</section>
<!-- ========================= SECTION ITEMS .END// ========================= -->


<!-- ========================= SECTION SUBSCRIBE ========================= -->
<section class="section-subscribe bg-secondary padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center white">Entregamos las ultimas tendencias de productos y noticias a tu inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="row-sm form-noborder">
                    <div class="col-8">
                        <input class="form-control" placeholder="Tu correo" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <textarea id="correousuario" class="form-control"></textarea></br><button type="button" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i>Subscribete  </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50">Nunca compartiremos tu correo con terceras partes. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div> <!-- container // -->
</section>
<!-- ========================= SECTION SUBSCRIBE END.//========================= -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#CategoriasParcial").html('Cargando...');
        $("#CategoriasParcial").load("@Url.Action("ComboDeCatergoriasParcial", "Base")");
        $("#ejemplo").load("@Url.Action("CarruselParcial","Principal")");
        $("#_GridVehiculo").load("@Url.Action("VehiculoParcial","Principal")");
        $("#_GridProducto").load("@Url.Action("ArticuloParcial","Principal")");
    });

    function fnChangeCategoryMain(CategoryId)
    {
        $("#filtroVehiculo").load("@Url.Action("FiltroVehiculoParcial","Principal")", { ID_Categoria: CategoryId }, function () {
            fnPintarGridDeVehiculos(1);
        });
    }

    function fnChangeCategoryMain(MarcaId)
    {
        $("#filtroVehiculo").load("@Url.Action("FiltroVehiculoParcial","Principal")", { ID_Marca: MarcaId }, function () {
            fnPintarGridDeVehiculos(1);
        });
    }

</script>
