@model NegociosElectronicosII.Models.NE_Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NE_Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NE_Category.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NE_Category.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
